# Processor Configuration
NODE_ENV=
MAX_PROCESSING_BATCH=
MAX_PROCESSING_QUEUE_SIZE=
MAX_CATEGORIES=

# Logger
LOG_LEVEL=

# Cloudflare
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_VENDOR_PRODUCT_DATA_BUCKET_NAME=

# Google
GOOGLE_GEMINI_API_KEY=

# Ludwig
LUDWIG_VECTOR_DIM=
LUDWIG_VECTOR_METRIC=
LUDWIG_VECTOR_GENERATION_ENDPOINT=

# Replicate
REPLICATE_API_TOKEN=

# Convex
CONVEX_DEPLOYMENT=
CONVEX_URL=
CONVEX_PRODUCT_ONBOARDING_API_KEY=